/* Background color for the entire NavTop */
.navtop-container {
  background-color: #0e1a35; /* Dark matte blue for a luxurious feel */
  padding: 10px 0;
  border-bottom: 3px solid #1a2b4d; /* Stronger border for separation */
}

/* Center all nav options */
.nav-options {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 60px; /* Spacing between each menu item */
}

/* Add a wrapper for nav options and profile info */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
  height: 100%; /* Full height of the nav */
}

.nav-options .nav-link {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; /* White text for clear contrast */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease;
}

.nav-options .nav-link .nav-icon {
  font-size: 32px;
  margin-bottom: 5px;
}

/* Hover effect: Add underline and color change */
.nav-options .nav-link:hover {
  color: #ffd700; /* Gold for a winning feel */
  text-decoration: underline;
}

/* Different colors for each option */
.nav-options .nav-link.dashboard {
  color: #87cefa; /* Light sky blue */
}

.nav-options .nav-link.create-lottery {
  color: #3cb371; /* Medium sea green */
}

.nav-options .nav-link.results {
  color: #ff4500; /* Orange-red */
}

.nav-options .nav-link.win {
  color: #ffd700; /* Gold */
}

.nav-options .nav-link.purchase-history {
  color: #20b2aa; /* Light sea green */
}

/* Blinking effect for Results */
.blink {
  animation: colorChange 1.5s linear infinite;
  font-weight: bold;
}

@keyframes colorChange {
  0% {
    color: #ff4500; /* Orange-red */
  }
  50% {
    color: #ffd700; /* Gold */
  }
  100% {
    color: #4682B4; /* Steel blue */
  }
}

/* Profile Info */
.profile_info {
  margin-left: auto;
  display: flex; /* Use flex to align items */
  align-items: center; /* Center align the icon and text */
}

.profile_info_iner {
  padding-left: 10px;
  color: #ffffff;
}
/* Add margin to the icon to avoid overlap */
.profile_info i {
  margin-right: 20px; 
}

.profile_info_details a {
  color: #ff6347; /* Tomato red */
  font-weight: bold;
  text-decoration: none;
}

.profile_info_details a:hover {
  color: #ff4500; /* Darker red */
  text-decoration: underline;
}
